*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(https://i.pinimg.com/originals/0a/3b/9d/0a3b9d8a4a8dd964ecae45908c049096.jpg);
    background-position: -300px 720px;
    display: block;
    width: 100%;
    height: 300px;
    float: left;
    text-shadow: 1px 1px whitesmoke;
}
h1{
    font-size: 80px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: tomato;
}
article{
    width: 100%;
    height: 1200px;
    background-color: palegoldenrod;
    float: left;
    display: block;
}
article h2{
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}
article h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
article p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 34px;
}
footer{
    width: 100%;
    display: block;
    height: 400px;
    float: left;
    background-color: antiquewhite;
}
footer article{
    width: 20%;
    display: block;
    height: auto;
    float: left;
    margin-left: 100px;
}
footer img{
    margin-left: 100px;
}
footer h4{
    font-size: 20px;
}
footer p{
    margin-left: 20px;
    font-size: medium;
}


